<ion-header>

  <ion-navbar>
    <ion-title>{{ receipe.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        {{ receipe.title }}
        <div class="subtitle">{{ receipe.difficulty }}</div>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{ receipe.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-list>
          <ion-item *ngFor="let ingredient of receipe.ingredients">
            {{ ingredient.name }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <button ion-button *ngIf="receipe.ingredients.length > 0" clear (click)="onAddIngredients()">Add Ingredients to Shopping List</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button outline (click)="onEditReceipe()" block >Edit Receipe</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button outline (click)="onDeleteReceipe()" color="danger" block >Delete Receipe</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
